body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
}

.header {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 25pt;
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: justify;
}

.container-main {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #464646;
}

.container {
    background: #2e2e2e;
    position: relative;
    margin: auto;
    width: 800px;
    height: 100%;
}

.container1 {
    border-left: 6px solid #ff7b00;
    background: rgb(22, 22, 22);
    position: relative;
    padding: 2% 10% 2% 5%;
    margin: auto;
    width: 60%;
    height: auto;
}

.container2 {
    border-right: 6px double #ff7b00;
    background: rgb(20, 20, 20);
    position: relative;
    padding: 2% 10% 2% 5%;
    margin: auto;
    width: 60%;
    height: auto;
}

.container3 {
    background: #161616;
    position: relative;
    padding: 2% 10% 2% 5%;
    margin: 10px auto 40px;
    width: 60.7%;
    height: auto;
}

.indent {
    text-indent: 1.5em;
}

.text-center {
    text-align: center;
}

.shadow {
    text-shadow: 3px 2px #141414;
}

.shadow-div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    color: #969696;
}

.font-ora {
    color: #ff7b00;
}

a:link {
    color: #008eb2;
}

a:visited {
    color: #a55000;
}

a:hover {
    color: #ff7b00;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}

.font-sp {
    letter-spacing: 4px;
}