hr {
    height: 2px;
    border: none;
    margin-bottom: 10px;
}

.blue {
    color: blue;
    background-color: blue;
}

.red {
    color: red;
    background-color: red;
}

.yellow {
    color: yellow;
    background-color: yellow;
}

.green {
    color: green;
    background-color: green;
}

.brown {
    color: brown;
    background-color: brown;
}

.purple {
    color: purple;
    background-color: purple;
}

.lime {
    color: lime;
    background-color: lime;
}