body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    display: table;
    width: 100%;
}

.container {
    position: relative;
    margin: 100px auto;
    width: 500px;
    height: 25em;
}

#h-width {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.name-item {
    margin-bottom: 45px;
}

.text-block {
    text-align: left;
}

#text-author {
    margin-right: 20%;
    margin-left: 20%;
}

.font-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}
