* {
    font-family: Arial ,sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 10px;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;

}
table th, td {
    border: 2px solid #7b78ff;
    padding: .2rem;
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}
span[class~="none-data"] {
    color: #f30d08;
}

span[class~="be-data"] {
    color: #000000;
}
select {
    border-style: none;
    background-color: transparent;
}
option {
    border-style: none;
}

.hidden {
    display: none;
}

p, .input-n, .btn {
    font-size: 12px;
}

.input-n {
    border-style: none;
    background-color: transparent;
    margin-left: 2px;
    color: #5c29ff;
    font-weight: bold;
}

.input-n::placeholder {
    font-weight: normal;
}

.input-n:focus {
    outline: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    width: 34rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-btn {
    text-align: center;
}

.btn {
    margin: .5rem auto 0;
    cursor: pointer;
    width: 14rem;
    user-select: none;
    padding: .5rem 2.5rem;
    background-color: #2e2e2e;
    color: #979fa6;
    transition: .2s;
    border-style: none;
}

.btn:hover {
    background-color: #434343;
    color: #e8f4ff;
}

.btn:active {
    background-color: #6a43ff;
    color: #e8f4ff;
}