* {
    font-family: Arial ,sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    width: 34rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: .5rem;
}
img {
    object-fit: cover;
    margin: 1%;
    width: 16rem;
    height: 16rem;
    background-color: #5c29ff;
}
.btn {
    cursor: pointer;
    user-select: none;
    padding: 1rem 3rem;
    background-color: #2e2e2e;
    color: #979fa6;
    transition: .2s;
}
.btn:hover {
    background-color: #434343;
    color: #e8f4ff;
}
.btn:active {
    background-color: #6a43ff;
    color: #e8f4ff;
}