@import "font.css";
html, body {
    height: auto;
    margin: auto;
    font-family: 'Exo 2', sans-serif;
}
.day {
    color: #673fde;
    font-weight: bold;
    font-size: 15pt;
}
p {
    text-align: center;
}

li {
    color: #a487ff;
    font-weight: bold;
}

li:first-line {
    font-weight: normal;
    color: white;
}
