@import "font.css";

html, body {
    height: 100%;
    margin: 0;
}
.text-box {
    font-size: 16pt;
    color: white;
    margin: auto;
    font-weight: bold;
}
.container {
    display: flex;
    height: 100%;
    background: linear-gradient(217deg, #7846ff, #5b75ff);
}
