@import "font.css";
body, html {
    display: flex;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

#left-box {
    margin: auto 20px auto;
}

.box-main {
    height: 3em;
    box-shadow: 15px -16px #673fde;
    margin: auto auto 20px;
}

#back-gr {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    background: linear-gradient(0deg, rgba(3, 4, 11, 0.87), #040513);
}

.container {
    width: 35em;
    min-height: 20em;
    margin: 18em auto;
    padding: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: #6a43ff;
}

a:visited {
    color: #7355ff;
}

a:hover {
    color: #5c29ff;
}