* {
    font-family: Arial ,sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
}
table, tr, td, iframe {
    border-style: none;
}
