* {
    font-family: Arial ,sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    width: 34rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 1rem 3rem;
    background-color: #2e2e2e;
    color: #979fa6;
    transition: .2s;
}
.btn:hover {
    filter: brightness(90%);
    color: #e8f4ff;
}
.btn:active {
    filter: brightness(110%);
    color: #e8f4ff;
}
img {
    margin: 1%;
}
#interval-P {
    margin: 10px;
}
#up {
    background-color: #34d621;
    color: white;
}
#down {
    background-color: #d64f4b;
    color: white;
}