* {
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #484848;
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.navbar {
    width: 100%;
    background-color: #383838;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
    text-decoration: none;
    color: #979fa6;
    padding: .4vh 1vh .4vh 2vh;
}
a > span {
    padding-left: 3vh;
    color: #979fa6;
    font-size: .6rem;
}
a:hover {
    background-color: #6a43ff;
    color: #e8f4ff;
}
.menu-box {
    position: relative;
}
.menu-childes {
    position: absolute;
    background-color: #2e2e2e;
}
.title {
    margin: 0;
    color: #979fa6;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .6rem;
    font-size: .8rem;
    cursor: pointer;
}
.hidden {
    display: none;
}
.btn {
    font-size: .8rem;
    border: 0 none;
    cursor: pointer;
    user-select: none;
    padding: .5rem 2rem;
    background-color: #2e2e2e;
    color: #979fa6;
    transition: .2s;
}
.content {
    margin: 1rem;
}
.content > p {
    margin: 0;
    color: #969696;
}
.footer {
    background-color: #383838;
    position: absolute;
    height: 2vh;
    width: 100%;
    bottom: 0;
}

.btn:active, .btn:hover {
    background-color: #6a43ff;
    color: #e8f4ff;
}

.btn:hover  ~.menu-childes {
    display: block;
}
.menu-childes:hover {
    display: block;
}