* {
    font-family: Arial ,sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eaeaea;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col-2 {
    display: inline-flex;
    padding: 0;
    user-select: none;
    border: 1px solid #000000;
    width: 90px;
    height: 160px;
}
img {
    cursor: hand;
}