body {
    display: flex;
    font-family: sans-serif;
}
.font-bold {
    font-weight: bold;
}
.font-italic {
    font-style: italic;
    font-weight: lighter;
}
.block-color {
    background-color: #979fa6;
}
.block-center {
    text-align: center;
}
#box {
    margin: 5em auto;
}
h1 {
    margin-top: 1.5em;
}
h3 {
    margin-top: -0.5em;
}